.App {
  text-align: center;
  /* color: #282c34; */
	background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px);
	background-size: 20px 20px;
	background-position: center center;
  /* resize: both; */
  display: flex;
  min-height: 100vh;
  width: 100vw;
}

.LeftVerticalArea {
  margin-top: 5rem;
  flex-basis: 5rem;
}

.RightVerticalArea {
  flex-basis: calc(100% - 2rem - 5rem); 
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.VerticalTitle {
  background-color: transparent;
  font-size: 4rem;
  font-family: cursive;
  font-style: italic;  
  text-orientation:upright;
  writing-mode: vertical-lr;
  margin: 0;
  padding: 0;
}

.TitleAndCounters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  align-items: center;
}

.HorisontalTitle {
  letter-spacing: 2rem;
  font-size: 4rem;
  font-family: cursive;
  font-style: italic;  
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.Counters {
  display: flex;
  flex-wrap: wrap;
  /* flex-basis: 40%; */
  justify-content: space-between;
  font-size: 1rem;
  font-family: cursive;
  font-style: italic;  
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.h1 {
  margin-top: 0px;
}

p {
  margin: 0;
  padding: 0; 
}

.MainInputBlock {
  display: flex;
  margin-top: 1rem;
  flex-basis: 2rem;
  width: 80%;
  margin-bottom: 1rem;
}
.MainInput {
  flex-basis: calc(100% - 2rem);
  padding: 0rem 0.5rem 0rem 0.5rem;
  font-size: 1rem;
}

.ListInputSection {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 80%;  
  /* flex-basis: 1.5rem; */
}

.ButtonAdd {
  font-size: 1.5rem;
  height: 100%;
  flex-basis: 2rem;
  padding: 1px;
}

.ListInputBlock {
  margin-top: 0.5rem;
  width: 100%;  
  display: flex;
  align-items: flex-end;
  flex-basis: 1.5rem;
  justify-content: space-between;
 }

.ListInput {
  flex-basis: calc(100% - 6rem);
  padding: 0rem 0.5rem 0rem 0.5rem;
  font-size: 1rem;
  height: 1.5rem;
}

.ButtonEdit {
  font-size: 1rem;
  height: 100%;
  flex-basis: 1.5rem;
  padding: 0rem 0.5rem 0rem 0.5rem;
  background: url("../img/pencil.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #efefef;
  border-width: 1px;
}

.ButtonSave {
  font-size: 1rem;
  height: 100%;
  flex-basis: 1.5rem;
  padding: 0rem 0.5rem 0rem 0.5rem;
  background: url("../img/save.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #efefef;
  border-width: 1px;
}

.ButtonDelete {
  font-size: 1rem;
  height: 100%;
  flex-basis: 1.5rem;
  padding: 0rem 0.5rem 0rem 0.5rem;
  background: url("../img/trash.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #efefef;
  border-width: 1px;
}

.ButtonFinish {
  font-size: 1rem;
  height: 100%;
  flex-basis: 1.5rem;
  padding: 0rem 0.5rem 0rem 0.5rem;
  background: url("../img/check.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #efefef;
  border-width: 1px;
}

.ButtonPinned {
  font-size: 1rem;
  height: 100%;
  flex-basis: 1.5rem;
  padding: 0rem 0.5rem 0rem 0.5rem;
  background: url("../img/pinned.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #efefef;
  border-width: 1px;
}

.ButtonAdd:hover,
.ButtonPinned:hover,
.ButtonSave:hover,
.ButtonEdit:hover,
.ButtonDelete:hover,
.ButtonFinish:hover{
  background-color: #e6e6e6;
  cursor: pointer;
  box-shadow: 2px 2px 4px 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  color: #282c34;
  background-color: transparent;
  /* min-height: 25px; */
  display: flex;
  align-items:flex-start;
  justify-content: flex-start;
  font-size: 24px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Crossed {
  text-decoration: line-through solid green 2px;
}

.BeforeDelete {
  transform: scalex(0.1);
  transition: 1s;
}