
.LeftVerticalArea {
  margin-top: 5rem;
  flex-basis: 1rem;
}

.RightVerticalArea {
  flex-basis: calc(100% - 2rem - 1rem); 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.VerticalTitle {
  background-color: transparent;
  font-size: 3rem;
  font-family: cursive;
  font-style: italic;  
  text-orientation:upright;
  writing-mode: vertical-lr;
  margin: 0;
  padding: 0;
}

.TitleAndCounters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  align-items: center;
}

.HorisontalTitle {
  letter-spacing: 2rem;
  font-size: 3rem;
  font-family: cursive;
  font-style: italic;  
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.Counters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1rem;
  font-family: cursive;
  font-style: italic;  
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}


